body {
	background-image: url(img/tracery-horizontal-small.gif);
	background-repeat: repeat-x;
}

.header {
	text-align: center;
	color: maroon;
}

.header-decoration {
	background-image: url(img/tracery-horizontal-normal.gif);
	background-repeat: repeat-x;
	padding-top: 50px;
	padding-left: 50px;
}

.container{

}

.row {
	margin-bottom: 5px;
}

.search-table {
    margin-left:auto; 
    margin-right:auto;
}


.search-table-header {
	padding-left: 15px;
}

.search-table-description {
	font-size: smaller;
	color: gray;
}

.search-table-results {
   padding: 0px;
}

.search-table-results ul {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
    list-style: none;
    padding-left: 0px;
}

.search-table-examples {
	margin-top: 20px;
}

.search-table-examples-items {
	font-size: 12px;
	font-weight: normal;
	margin-top: 10px;
}
